body {
    background: white;
    color: black;
    font-family: serif;
}

header,
.section0,
footer {
    height: 766px;
    min-width: 985px;
    box-sizing: border-box;
}

h1,
h2,
.subheading {
    font-family: sans-serif;
    text-transform: uppercase;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

header {
}

header .logo {
    position: relative;
    top: 50px;
    left: 50px;
    display: block;
    height: 48px;
    width: 48px;
}

header nav ul {
    list-style: none;
}

header nav ul li a {
    font-size: 18px;
}

header .title {
    position: relative;
    top: 45%;
    left: 40%;
}

header .title h1 {
    font-size: 65px;
    letter-spacing: 14px;
    display: inline-block;
}

header .title .subheading {
    font-size: 25px;
    letter-spacing: 1px;
}

.section0 {
}

.section0 h2 {
    font-size: 18px;
}

.section0 p {
    font-size: 16px;
}

.section0 .act {
    display: inline-block;
    width: 200px;
    height: 50px;
    line-height: 50px;
    background: #FF2B4A;
    font-family: sans-serif;
    font-size: 16px;
    margin-bottom: 40px;
    color: white;
    text-align: center;
    text-decoration: none;
}

.section0 .act:hover {
    background: #ff5061;
}

.section0 .act:active {
    background: #d92b48;
}

footer {
    text-align: center;
    padding-top: 50px;
    height: 150px;
}

footer .copyright {
    display: inline-block;
    font-size: 12px;
    color: grey;
}