body {
    background: white;
    color: black;
    font-family: serif;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
    text-align: center;
}

.page > header,
.slider,
.about,
.service,
.portfolio,
.team,
.contacts
.page > footer {
    height: 766px;
    min-width: 992px;
    box-sizing: border-box;
}

.container {
    width: 992px;
    margin: 0 auto;
    position: relative;
}

h1,
h2,
.subheading {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: black;
    font-family: sans-serif;
}

a:hover {
    text-decoration: underline;
}

.page > header {
    height: auto;
}

.page > header h1 {
    display: inline-block;
    width: 400px;
    height: 95px;
}

.page > header h1 .logo img {
    width: 400px;
    height: 95px;
    line-height: 95px;
    font-family: "Open Sans Regular";
    font-size: 41px;
    color: #3687c4;
}

.page > header h1 .logo strong {
    visibility: hidden;
}

/*header .logo {*/
/*position: relative;*/
/*top: 50px;*/
/*left: 50px;*/
/*display: block;*/
/*height: 48px;*/
/*width: 48px;*/
/*}*/

.page > header nav.external {
    background: #eceef4;
    height: 65px;
    line-height: 65px;
}

.page > header nav.external ul.social,
.page > header nav.external ul.resources {
    display: inline-block;
}

.page > header nav.external ul.resources li {
    width: 100px;
    height: 32px;
    display: inline-block;
}

.page > header nav.external ul.resources li a {
    color: #6d6e71;
    display: inline-block;
    box-sizing: border-box;
    background: white;
    width: 100px;
    height: 32px;
    line-height: 32px;
    text-align: center;

    font-family: "Open Sans Bold";
    font-size: 12px;

    background-position: 10px center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.page > header nav.external ul.resources li.blog a {
    background-image: url("../img/blog-icon.png");
}

.page > header nav.external ul.resources li.jobs a {
    background-image: url("../img/jobs-icon.png");
}

.page > header nav.external ul.resources li.support a {
    background-image: url("../img/support-icon.png");
}

.page > header nav.external ul.resources li.language a {
    background-image: url("../img/language-icon.png");
}


.page > header nav.external ul.social {
    float: right;
}

.page > header nav.external ul.social li {
    width: 65px;
    height: 65px;
    border-left: 1px #dee0e6 solid;
    display: inline-block;
}

.page > header nav.external ul.social li:last-child {
    border-right: 1px #dee0e6 solid;
}

.page > header nav.external ul.social li a {
    display: inline-block;
    width: 65px;
    height: 65px;
    background-repeat: no-repeat;
    background-position: center;
}

.page > header nav.external ul.social li.facebook a {
    background-image: url("../img/facebook-icon-header.png");
}

.page > header nav.external ul.social li.twitter a {
    background-image: url("../img/twitter-icon-header.png");
}

.page > header nav.external ul.social li.instagram a {
    background-image: url("../img/instagram-icon-header.png");
}

.page > header nav.external ul.social li.google-plus a {
    background-image: url("../img/googleplus-icon-header.png");
}

.page > header nav.external ul.social li a span {
    visibility: hidden;
}

.page > header ul.contacts {
    display: inline-block;
    float: right;
}

.page > header ul.contacts li {
    display: inline-block;
    width: 70px;
    height: 70px;
    border-right: 1px solid #bcbec3;
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
}

.page > header ul.contacts li:last-child {
    border: none;
}

.page > header ul.contacts li a {
    display: inline-block;
    width: 70px;
    height: 70px;
    background-position: center;
    background-repeat: no-repeat;
}

.page > header ul.contacts li.phone a {
    background-image: url("../img/phone-icon-header.png");
}

.page > header ul.contacts li.place a {
    background-image: url("../img/place-icon-header-active.png");
}

.page > header ul.contacts li.mail a {
    background-image: url("../img/mail-icon-header.png");
}

.page > header ul.contacts li a span {
    visibility: hidden;
    display: none;
}

.page > header nav.internal {
    position: relative;
    border-top: 1px solid #eceef4;
}

.page > header nav.internal ul {
    width: 800px;
}

.page > header nav.internal ul li {
    display: inline-block;
    padding: 10px 10px;
    border-right: 1px solid #eceef4;
}

.page > header nav.internal ul li a {
    color: #6d6e71;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 13px;
}

.page > header nav.internal ul li.active a {
    color: #1faae2;
}

.page > header nav.internal form.search {
    height: 30px;
    width: 210px;
    position: absolute;
    right: 0;
    top: 0;
}

.page > header nav.internal form.search input {
    height: 30px;
    width: 170px;
    float: right;
    border: none;
    color: #6d6e71;
    font-family: "Open Sans Regular", sans-serif;
    font-size: 15px;
}

.page > header nav.internal form.search input::-webkit-input-placeholder,
.page > header nav.internal form.search input::-moz-placeholder,
.page > header nav.internal form.search input:-ms-input-placeholder {
    color: #6d6e71;
    font-family: "Open Sans Light", sans-serif;
    font-size: 15px;
}

.page > header nav.internal form.search input:focus {
    outline: 0;
}

.page > header nav.internal form.search button {
    height: 30px;
    width: 30px;
    float: left;
    background: transparent;
    border: none;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/search-icon.png");
}

/*header .title {*/
/*position: relative;*/
/*top: 45%;*/
/*left: 40%;*/
/*}*/

/*header .title h1 {*/
/*font-size: 65px;*/
/*letter-spacing: 14px;*/
/*display: inline-block;*/
/*}*/

/*header .title .subheading {*/
/*font-size: 25px;*/
/*letter-spacing: 1px;*/
/*}*/

ul.slider {
    height: 885px;
    position: relative;
}

ul.slider li {
    display: inline-block;
    width: 320px;
    height: 240px;
    position: absolute;
}

ul.slider li:nth-child(1) {
    background: #318fcd;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/slider-bg.jpg");


}

ul.slider li:nth-child(2) {
    right: 370px;
    bottom: 50px;
    background: #75bf29;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/effectiveart-preview.jpg");
}

ul.slider li:nth-child(3) {
    right: 50px;
    bottom: 50px;
    background: #feeb75;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/mobileapp.jpg");

}

ul.slider li:nth-child(2) a.more {
    color: white;
    background-color: rgba(138, 202, 81, 0.9);
    background-repeat: no-repeat;
    background-image: url("../img/heart-icon-green.png");
    background-position: 100px center;
}

ul.slider li:nth-child(3) a.more {
    color: #cc9800;
    background-color: rgba(254, 235, 117, 0.9);
    background-repeat: no-repeat;
    background-image: url("../img/like-icon-yellow.png");
    background-position: 100px center;
}

ul.slider li h2,
ul.slider li p.subheading {
    visibility: hidden;
    width: 0;
}

ul.slider li a.more {
    display: inline-block;
    width: 100%;
    height: 65px;
    position: absolute;
    bottom: 0;
    left: 0;
    line-height: 65px;
    text-align: center;
    font-family: "Open Sans Semibold", sans-serif;
    font-size: 14px;

}

ul.slider li.active {
    width: 100%;
    height: 885px;
    display: table;
    position: absolute;
    left: auto;
    bottom: auto;
}

ul.slider li.active a.more {
    visibility: hidden;
}

ul.slider li p.subheading {
    color: white;
}

ul.slider li p.subheading strong {
    display: block;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 58px;
}

ul.slider li p.subheading span {
    font-family: "Open Sans Light", sans-serif;
    font-size: 45px;
}

ul.slider li.active p.subheading {
    position: relative;
    /*margin: 0 auto;*/
    /*width: auto;*/
    text-align: center;
    display: table-cell;
    vertical-align: middle;
    visibility: visible;
}

ul.slider li.active p.subheading strong {
    position: relative;
    left: -30px;
    z-index: 2;
    text-transform: uppercase;
}

ul.slider li.active p.subheading span {
    position: relative;
    left: 60px;
    z-index: 1;
}

ul.slider li.active p.subheading span:before {
    content: '&';
    color: #bbedff;
    position: relative;
    left: -20px;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 140px;
    line-height: 10px;
    z-index: 1;
}

.about {
    height: 380px;
    text-align: center;
    color: #6d6e71;
}

.about div.container {
    width: 1200px;
}

.about div.container > div {
    vertical-align: top;
    width: 390px;
    display: inline-block;
    text-align: left;
    padding-left: 140px;
    margin-right: 115px;
    background-repeat: no-repeat;
    background-position: left 15px;
}

.about div.container > div:nth-child(1) {
    background-image: url("../img/lamp-icon.png");
}

.about div.container > div:nth-child(2) {
    background-image: url("../img/tree-icon.png");
    margin-right: 0;
}

.about div.container > div h2 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 26px;
}

.about div.container > div p {
    text-align: justify;
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;
    color: #6d6e71;
}

.service {
    height: 922px;
    color: #6d6e71;
}

.service div.container {
    width: 1200px;
}

.service div.container > header {
    margin: 0 auto;
    width: 410px;
    padding-left: 170px;
    margin-bottom: 80px;

    background-repeat: no-repeat;
    background-position: left 15px;
    background-image: url("../img/darts-icon.png");
}

.service div.container > header h2 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 44px;
}

.service div.container > header p.subheading {
    font-family: "Open Sans Light", sans-serif;
    font-size: 17px;
}

.service div.container ul {
    text-align: center;
}

.service div.container ul li {
    list-style: none;
    display: inline-block;
    padding: 0;

    padding-left: 120px;
    background-repeat: no-repeat;
    background-position: left 30px;

    vertical-align: top;
}

.service div.container ul li.first-column {
    border-right: 1px solid #eaeced;
    padding-right: 60px;
    margin-right: 80px;
}

.service div.container ul li.web {
    background-image: url("../img/tools-icon.png");
}

.service div.container ul li.mobile {
    background-image: url("../img/mobile-icon.png");
    background-position: 30px 30px;
}

.service div.container ul li.software {
    background-image: url("../img/cube-icon.png");
}

.service div.container ul li.interior {
    background-image: url("../img/sofa-icon.png");
    background-position: 10px 30px;

}

.service div.container ul li.branding {
    background-image: url("../img/mouse-icon.png");
}

.service div.container ul li.seo {
    background-image: url("../img/globus-icon.png");
    background-position: 30px 30px;
}

.service div.container ul li dl {
    /*padding: 0;*/
    /*margin: 0;*/
    /*width: 2;*/
}

.service div.container ul li dl dt,
.service div.container ul li dl dd {
    width: 380px;
    margin: 0;
    /*display: inline-block;*/
    /*float: left;*/
}

.service div.container ul li dl dt {
    margin-bottom: 20px;
    text-align: left;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 24px;
}

.service div.container ul li dl dd {
    margin-bottom: 80px;
    text-align: justify;
    font-family: "Open Sans Light", sans-serif;
    font-size: 16px;

    /*clear: both;*/
}

.portfolio {
    height: 1070px;
    background: #efefef;
    position: relative;
}

.portfolio > header {
    margin: 0 auto;
    width: 410px;
    height: 160px;
    padding-left: 170px;
    margin-bottom: 80px;
    color: #6d6e71;

    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../img/chemicals-icon.png");

}

.portfolio > header h2 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 44px;
}

.portfolio > header h2 p.subheading {
    font-family: "Open Sans Light", sans-serif;
    font-size: 17px;
}

.portfolio ul.categories {
    text-align: center;
    margin-bottom: 30px;
}

.portfolio ul.categories li,
.portfolio ul.categories li a {
    height: 45px;
    line-height: 45px;
    display: inline-block;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 15px;
}


.portfolio ul.categories li a {
    color: #bbbbbb;
    border: 1px solid #cecece;
    padding: 0 45px;
    margin: 0 7px;


}

.portfolio ul.categories li.active a {
    color: #6d6e71;
    background: white;
    border: none;
}

.portfolio div.projects {
    text-align: center;
}

.portfolio div.projects ul {
    display: inline-block;
    width: 1188px;
}

.portfolio div.projects ul li {
    display: inline-block;
    /*height: 285px;*/
    /*width: 280px;*/
    margin: 7px;
    padding: 14px;
    background: white;
}

.portfolio div.projects ul li a.preview {
    display: inline-block;
    height: 210px;
    width: 250px;
    background: #f5f5f5;
}

.portfolio div.projects ul li a.preview img {
    height: 210px;
    width: 250px;
    line-height: 210px;
    color: #6d6e71;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 16px;

}

.portfolio div.projects ul li div.actions a {
    text-align: center;
    display: inline-block;
    width: 48%;
    height: 55px;
    line-height: 55px;
    color: #c7c9ce;
}

.portfolio div.projects ul li div.actions a.go {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/go-icon.png");
    border-right: 1px solid #f5f5f5;
}

.portfolio div.projects ul li div.actions a.more {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/more-icon.png");
}

.portfolio div.projects ul li div.actions a span {
    visibility: hidden;
}

.portfolio a.up {
    display: block;
    background: white;
    height: 100px;
    width: 100px;
    line-height: 100px;
    color: #c7c9ce;
    position: absolute;
    bottom: 50px;
    right: 100px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/up-icon.png");
}

.portfolio a.up span {
    visibility: hidden;
}

.team {
    height: 770px;
}

.team > header {
    margin: 0 auto;
    width: 410px;
    padding-left: 170px;
    margin-bottom: 80px;
    color: #6d6e71;

    background-repeat: no-repeat;
    background-position: left top;
    background-image: url("../img/man-icon.png");
}

.team > header h2 {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 44px;
}

.team > header p.subheading {
    font-family: "Open Sans Light", sans-serif;
    font-size: 17px;
}

.team ul.members {
    text-align: center;
}

.team ul.members > li {
    display: inline-block;
    /*height: 395px;*/
    /*width: 280px;*/
    background: #f5f5f5;
    margin: 7px;
}

.team ul.members > li > a {
    display: inline-block;
    /*height: 305px;*/
    /*width: 280px;*/
    padding: 14px;
}

.team ul.members > li > a img {
    width: 140px;
    height: 140px;
    line-height: 140px;
    display: block;
    margin: 40px 45px;
    color: #6d6e71;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 24px;
}

.team ul.members > li > a span.name,
.team ul.members > li > a span.position {
    display: block;
    color: #6d6e71;
}

.team ul.members > li > a span.name {
    font-family: "Open Sans Bold", sans-serif;
    font-size: 24px;
}

.team ul.members > li > a span.position {
    font-family: "Open Sans Light", sans-serif;
    font-size: 17px;
}

.team ul.members > li ul.social {
    text-align: center;
    background: white;
    padding-top: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    height: 60px;
    color: #cdcdcd;
}

.team ul.members > li ul.social li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin: auto 10px;
}

.team ul.members > li ul.social li a {
    display: inline-block;
    width: 24px;
    height: 24px;
}

.team ul.members > li ul.social li.facebook a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/facebook-icon-team.png");
}

.team ul.members > li ul.social li.twitter a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/twitter-icon-team.png");
}

.team ul.members > li ul.social li.instagram a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/instagram-icon-team.png");
}

.team ul.members > li ul.social li.linkedin a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/linkedin-icon-team.png");
}

.team ul.members > li ul.social li a span {
    visibility: hidden;
}

.contacts {
    height: 500px;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/contacts-bg.jpg");
}

.contacts ul {
    margin-top: 300px;
    text-align: center;

}

.contacts ul li {
    display: inline-block;
    height: 65px;
    width: 65px;
    background: white;
    border: 1px solid #dbdbdb;
}

.contacts ul li .active {
    border: 1px solid #1fa9e0;
}

.contacts ul li.active.place {
    background-color: #1fa9e0;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/place-icon-contacts.png");
}

.contacts ul li.mail {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/mail-icon-contacts.png");
}

.contacts ul li.phone {
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("../img/phone-icon-contacts.png");
}

.contacts ul li > div {
    display: none;
    visibility: hidden;
}

.section0 .act:hover {
    background: #ff5061;
}

.section0 .act:active {
    background: #d92b48;
}

.page > footer {
    padding-top: 75px;
    height: 265px;
    background: #2b2c2d;
}

.page > footer nav.external {
    width: 100%;
}

.page > footer nav.external ul.social {
    /*width: auto;*/
    float: left;
}

.page > footer nav.external ul.social li {
    display: inline-block;
    width: 24px;
    height: 24px;
    padding: 20px;
    border-left: 1px solid #414344;
}

.page > footer nav.external ul.social li:last-child {
    border-right: 1px solid #414344;
}

.page > footer nav.external ul.social li a {
    display: inline-block;
    width: 24px;
    height: 24px;
    color: #414344;
}

.page > footer nav.external ul.social li.facebook a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/facebook-icon-footer.png");
}

.page > footer nav.external ul.social li.twitter a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/twitter-icon-footer.png");
}

.page > footer nav.external ul.social li.instagram a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/instagram-icon-footer.png");
}

.page > footer nav.external ul.social li.google-plus a {
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/google-plus-icon-footer.png");
}

.page > footer nav.external ul.social li a span {
    visibility: hidden;
}

.page > footer nav.external form.subscription {
    position: relative;
    width: 595px;
    /*height: 65px;*/
    float: right;
    background: #393b3c;
    padding: 10px;
}

.page > footer div.container nav.external form.subscription input {
    width: 255px;
    height: 45px;
    color: #6d6e71;
    background: transparent;
    border: none;
    padding-left: 75px;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
    background-repeat: no-repeat;
    background-position: 15px center;
    background-image: url("../img/newsletter-icon.png");
}

.page > footer div.container nav.external form.subscription input::-webkit-input-placeholder,
.page > footer div.container nav.external form.subscription input::-moz-placeholder,
.page > footer div.container nav.external form.subscription input:-ms-input-placeholder {
    color: #6d6e71;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
}

.page > footer div.container nav.external form.subscription input:focus {
    outline: 0;
}


.page > footer  div.container nav.external form.subscription button {
    position: absolute;
    right: 10px;
    height: 45px;
    padding: 0 25px;
    background: #494c4d;
    border: none;
    color: #6d6e71;
    font-family: "Open Sans Bold", sans-serif;
    font-size: 14px;
}

.page > footer p.copyright {
    position: relative;
    top: 10px;
    display: inline-block;
    color: #6d6e71;
    /*width: 400px;*/
    /*float: left;*/
    font-family: "Open Sans Light", sans-serif;
    font-size: 13px;
}

.page > footer nav.external.resources {
    display: inline-block;
    width: auto;
    position: absolute;
    bottom: 10px;
    right: 0;
}

.page > footer nav.external ul.resources {
    /*float: right;*/
    display: inline-block;
}

.page > footer nav.external ul.resources li {
    display: inline-block;
    position: relative;
    padding-left: 14px;
}

.page > footer nav.external ul.resources li:before {
    content: '\2219';
    font-size: 40px;
    line-height: 18px;
    color: #6d6e71;
    position: absolute;
    top: 0;
    left: 0;
}

.page > footer nav.external ul.resources li:first-child:before {
    content: none;
}

.page > footer nav.external ul.resources li a {
    color: #6d6e71;
    font-family: "Open Sans Light", sans-serif;
    font-size: 13px;
}

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*.page > footer .copyright {*/
    /*display: inline-block;*/
    /*font-size: 12px;*/
    /*color: grey;*/
/*}*/